<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="logom">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Yes_Bank_SVG_Logo.svg">
        </div>
        <a class="navbar-brand" href="#Home">ATM-SERVICE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="check-balance">Check Balance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="withdraw-money">Withdraw Money</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="deposit-money">Deposit Money</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="transfer-money">Transfer Money</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="transaction-details">Transactions</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>