<div class="container my-5">
    <h1 class = "mb-3">Check Your Balance</h1>

    <div class="row">
        <div class="col-4">
            <h4 class="fw-bold text-danger" *ngIf="valid == 'invalid'">Check Credentials again</h4>
            <h4 class="fw-bold text-primary" *ngIf="valid == 'valid'">{{currentDate | date:'dd-MM-yyyy hh:mm a'}}</h4>
            <h4 class="fw-bold text-success" *ngIf="valid == 'valid'">Hi {{balanceInfo.name}}, Currently You have total <span class="WebRupee">&#x20B9;</span> {{balanceInfo.currBal}} balance in your account.</h4>
            
            <form #form="ngForm" (ngSubmit)="submitData()" *ngIf="valid == 'invalid' || valid == ''">
                <div class="mb-3">
                    <i class="fa-regular fa-credit-card me-2"></i>
                    <label for="accno" class="form-label me-2">Account No (16 Digits)</label>
                    <input type="number" class="form-control" name="accountNumber" id="accno" placeholder="0000 0000 0000 0000" [(ngModel)]="accountNumber" required>
                </div>
                <div class="mb-3">
                    <i class="fas fa-regular fa-lock me-2"></i>
                    <label for="pin" class="form-label me-2">Pin (4 Digits)</label>
                    <input type="password" minlength="4" maxlength="4" name="cardPin" class="form-control" id="pin" placeholder="x x x x" [(ngModel)]="cardPin" required>
                </div>

                <button type="submit" class="btn btn-primary btn-hover color-3">CHECK</button>
            </form>
        </div>
    </div>
</div>


<!-- <div class="previewContainer_QOycb">
    <video controlsList="nodownload nofullscreen" src="https://cdnl.iconscout.com/lottie/premium/preview-watermark/atm-machine-5786945-4849671.mp4" autoplay="autoplay" muted="muted" loop="loop" playsinline="" type="video/mp4"></video> 
</div> -->
<!-- <div class="container my-5">
    <h1 class="mb-3">Customers</h1>

    <table class="table" *ngIf="customers && customers.length > 0"> 
        <thead>
            <tr>
                <th>Id</th>
                <th>AccountNumber</th>
                <th>FullName</th>
                <th>BranchName</th>
                <th>TotalBalance</th>
                <th>CardPin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.id}}</td>
                <td>{{customer.accountNumber}}</td>
                <td>{{customer.fullName}}</td>
                <td>{{customer.branchName}}</td>
                <td>{{customer.totalBalance}}</td>
                <td>{{customer.cardPin}}</td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!customers || customers.length <= 0">No Customers Found</p>
</div> -->